.about {
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 0 15%;
    text-align: justify;
}

.about h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;

}

.fact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 15%;
    margin-bottom: 50px;
}
.fact{
    text-align: center;
    width: 95%;
}
.testimony{
    padding-bottom: 50px;
}

@media only screen and (max-width: 1192px) {
    .about{
        margin-top: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .fact-grid{
        display: block;
    }
}