.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;

    transition: transform 0.3s ease;
}

.display-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 0 10%;
    margin-block: 80px;
}

.display-text {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
}

.display-text h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
}

.display-text strong {
    font-family: 'Poppins', sans-serif;
}

.display-text p {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

#total-price {
    font-size: 40px;
    font-weight: 900;
}

.display-form {
    /* border: 10px solid #eeeeee; */
    width: 95%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#forms {
    display: block;
    width: 100%;
    border: 2px solid tomato;
}



.check {
    margin-bottom: 0px;
}

.formss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 5%;
    padding-block: 50px;
}

.formss input,
.formss select {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    background-color: #fff;
}

.formss button {
    width: 100%;
    height: 60px;
    border: none;
    background-color: green;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#confirm-booking {
    background-color: green;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
}

.hidden {
    display: none;
}


@media only screen and (max-width: 1192px) {
    .display-grid {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .display-form {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .display-text {
        padding: 0 5%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .display-text h2 {
        font-size: 25px;
    }

}