.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.reservation-bg {
    padding-top: 180px;
    padding-bottom: 80px;
    background-color: #eeeeee;
}

.reservation-bg h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

.reservation-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    background-color: #FFF;
    width: 70%;
    margin: 0 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 50px;
}

.reservation-suite {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reservation-suite-title {
    padding: 0 5%;
    font-family: 'Playfair Display', serif;
}

.fa-star {
    color: #f0b238;
}

.reservation-suite-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    align-self: left;
    text-align: left;
}

.price span {
    font-size: 30px;
}

.reservation-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.reservation-button button {
    padding: 15px 35px;
    color: #FFF;
    background-color: green;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media only screen and (max-width: 1192px) {

    .reservation-bg,
    .title-reservation {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .reservation-bg {
        padding-top: 600px;
    }

    .reservation-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .reservation-suite-title{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 20px;
        text-align: center;
    }
    .price span{
        display: block;
    }

    .reservation-button{
        padding-bottom: 20px;
        margin: 0 auto;
    }
}