@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* padding-left: 15%;
    padding-right: 15%; */
    background-color: #FEFEFE;
    width: 100%;
}


.navbar .nav-link,
.navbar .dropdown-item {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.navbar-logo {
    width: 100px;
    height: 100px;
    background-image: url(./images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-toggler {

    border: none;
    outline: none;
    box-shadow: none;
    color: #000;

}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
    box-shadow: none;
}

.navbar-logo {
    width: 100px;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(./images/logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5px;
}

.navbar-nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
}



.swiper {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-wrapper video{
  width: 100% !important;
    object-fit: cover;
}

/* .ani {
    position: relative;
    overflow: hidden;
    animation: zoomInOut 5s infinite alternate;
}

.ani:hover {
    transform: scale(1.2);
} */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;

}

/* .ani img {
    display: block;
    transform: scale(1);
    transition: transform 0.5s;
} */

/* .swiper-slide.zoomed img {
    transform: scale(0.7);
    cursor: zoom-out;
} */

.swiper-text {
    position: absolute;
    margin-bottom: 50px;
    color: #FEFEFE;
    text-shadow: 0.5px 0.5px 1px #00000060;
    z-index: 1000;
    text-align: center;
}

.swiper-text h5 {
    letter-spacing: 10px;
}

.swiper-text h1 {
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}

/* @keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
} */

#form {
    position: absolute;
    width: 100%;
}

.form {
    position: relative;
    top: -80px;
    z-index: 50;
    background-color: #FEFEFE;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: 0 15%;
    margin-bottom: 50px;
    padding-left: 1%;
}

.check {
    width: 95%;
    padding-block: 50px;
}

.form label {
    color: #b9b9b9;
}

.check input {
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    border-radius: 4px !important;
}

.check select {
    border: 1px solid #ccc;
    border-radius: 4px !important;
    width: 100%;
    height: 50px;
    background-color: #FFF;

}

.ava {
    background-color: #dae2e4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0 5%;
}

.ava button {
    height: 50px;
    margin-top: 25px;
    width: 100%;
    text-transform: uppercase;
    background-color: green;
    color: #FEFEFE;
    border: none;
    border-radius: 4px !important;
    font-size: 14px !important;
}

.about-bg {
    background-image: url("./images/bg.jpg");
    min-height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;
    padding-block: 20px;
    width: 100%;
    margin-bottom: 80px;
}

.about-title {
    margin-top: 100px;
    width: 100%;

}

.about-title h5 {
    text-align: center;
    color: #adadad;
    font-weight: 700;
}
.fa-beat {
    color: #d7a959;
}
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 15%;
    margin-top: 30px;
}

.about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

/* .about-image img{
    border: 12px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.about-text {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: justify;
}

.about-text h1 {
    text-align: left;
    font-size: 50px;
    width: 100%;
    color: #000;

}

.about-text p {
    font-family: 'Poppins', sans-serif;
}

.rooms-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FEFEFE;
    margin-bottom: 80px;

}

.rooms-detial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 30px;
    background-color: #efedee;
}


.room-img {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.room-type {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.room-img img {
    width: 100%;
}

.room-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 100%;
    padding: 0 5%;

}

.room-type h3 {
    font-family: 'Playfair Display', serif;
}

.room-type button {
    background-color: green;
    margin-right: 15%;
    padding: 15px 25px;
    color: #FFF;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.room-type button a {
    color: #FFF;
    text-decoration: none;
}

.rooms-list {
    overflow: auto;
    margin: 0 5%;

}

#scrollable-div {
    height: 90vh;
    overflow-y: scroll;
    position: relative;

}

#scrollable-div::-webkit-scrollbar {
    width: 10px;
}

#scrollable-div::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#scrollable-div::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
}

#scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: dark#000;
}

#scrollable-div {
    scrollbar-width: thin;
    scrollbar-color: #000 #f1f1f1;
}

#scrollable-div::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

#scrollable-div::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
}

#scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: dark#000;
}

.rooms-list h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    padding: 0 10%;
}

.rooms-list h4 {
    color: #b9b9b9;
    padding: 0 10%;
}



.rooms-display {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.testimony {
    background-image: url("./images/bg.jpg");
    min-height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20%;
    padding-block: 20px;
    width: 100%;
}

.test-bg {
    margin-top: 50px;
    background-color: #FEFEFE;
    padding-block: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.test-title h5 {
    text-align: center;
    color: #b9b9b9;
}

.test-title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.text {
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.text h3 {
    font-family: 'Playfair Display', serif;
}

.text h3 span {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #adadad;
}

.review {
    width: 170px;
    height: 100px;
    margin: 0 auto;
    background-image: url(./images/google_review.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}


.what-we-offer {
    /* margin-bottom: 80px; */
    background-image: url("./images/bg.jpg");
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.what-we-offer h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    padding-block: 20px;
}

.what-we-offer h5 {
    color: #adadad;
}

.offer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10%;
}

.offer {
    width: 95%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding-block: 70px;
    text-align: center;
    background-color: #FEFEFE;
}

.offer h3 {
    font-family: 'Playfair Display', serif;
}

.location {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-info {
    padding: 0 10%;
    padding-block: 100px;
}

.contact-info h5 {
    color: #adadad;
}

.contact-info h1 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.info h2 {
    margin-top: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.info h2 span {
    color: #adadad;
}

.info p {
    color: #adadad;
    font-size: 20px;
}

.info h6 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.info h6 span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #adadad;
}

.info a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #000;
    padding: 0 10%;
    padding-top: 80px;
    background-image: url(./images/footer_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer h1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 30px;
    padding-bottom: 30px;
}

.footer-logo {
    width: 250px;
    height: 200px;
    background-image: url(./images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer-links {
    color: #fff;
    font-size: 18px;
}

.amount {
    text-align: center;
    margin-top: 70px;
}

.amount h1 {
    color: #adadad;
    font-size: 20px;
}

.amount span {
    color: #cb0002;
    font-size: 40px;
    font-weight: 700;
    /* font-family: 'Playfair Display', serif; */
}

.books {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.amount b {
    color: #000;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1192px) {

    .swiper-text {
        width: 100%;
    }

    .swiper-text h1 {
        font-size: 45px;
    }

    .swiper-text h5 {
        font-size: 20px;
        letter-spacing: 20px;
    }

    .form button {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .ava {
        width: 100%;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .form {
        width: 90%;
        padding-block: 50px;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 150px;
    }

    .check {
        width: 100%;
        padding: 0 5%;
        padding-block: 10px;
    }

    .check input,
    .check select {
        display: block;
        width: 100%;

    }

    .ava {
        background-color: transparent;
    }

    .ava button {
        width: 100%;
    }

    .about-bg {
        display: block;
    }

    .about-image {
        margin-top: 500px;
        margin-bottom: 30px;
    }

    .about-grid {
        display: block;
        margin-top: 140px;
        width: 90%;
        margin: 0 5%;
    }

    .about-text {
        width: 100%;
    }

    .about-text h1 {
        width: 100%;
        margin: 0px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .rooms-home {
        display: block;
    }

    .rooms-detial {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .room-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .room-type {
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }

    .room-type button {
        margin: 0 auto;
        margin-top: 20px;
    }

    .rooms-list {
        display: block;
    }

    .testimony {
        width: 100%;
        padding: 5%;
    }

    .offer-grid {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .offer {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .location {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .map iframe {
        height: 70vh;
    }

    footer {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .footer {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}